.hero__section {
    background: rgb(246, 246, 246);
    background: linear-gradient(
        152deg,
        rgba(246, 246, 246, 1) 0%,
        rgba(161, 175, 185, 0.6166841736694677) 40%,
        rgba(20, 28, 42, 1) 100%
    );
}

.hero__content h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0px;
}

.hero__content p {
    color: var(--primary-color);
    line-height: 28px;
}

.hero__content {
    padding-top: 45px;
}

.hero__section p:nth-child(1) {
    font-weight: 500;
}
.hero__section {
    position: relative;
}
.hero__bg {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: url("../assets/images/main_Bg1.webp") no-repeat right/cover;
}

.hero__img img {
    width: 50%;
    margin-left: 160px;
}

.buy__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
    transition: 0.4s;
}
.buy__btn a {
    color: #fff;
}

.hero__section .buy__btn:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 1200px) {
    .hero__img img {
        width: 60%;
    }
}

@media only screen and (max-width: 992px) {
    .hero__content h2 {
        font-size: 2rem;
    }
    .section__title {
        font-size: 1.7rem;
    }
    .hero__img img {
        width: 80%;
        margin-left: 80px;
    }
    section {
        padding: 45px 0px;
    }
    .services {
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .hero__content h2 {
        font-size: 1.6rem;
    }

    .hero__content p {
        font-size: 0.8rem;
    }

    .buy__btn {
        font-size: 0.9rem;
    }
    .section__title {
        font-size: 1.4rem;
    }
    .hero__img img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .hero__bg {
        width: 45%;
    }
    .services {
        padding-bottom: 0;
    }
    .quick__links-title {
        margin-bottom: 25px;
    }
    .footer__contact li p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 576px) {
    .hero__section {
        background: rgb(246, 246, 246);
        background: linear-gradient(
            152deg,
            rgb(205 204 204) 0%,
            rgba(161, 175, 185, 0.6166841736694677) 55%,
            rgb(39 55 83) 100%
        );
    }
    .hero__content {
        padding-top: 0;
        text-align: center;
        min-width: 300px;
        max-width: 450px;
        width: auto;
        margin: 0 auto 40px auto;
    }
    .hero__bg {
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .hero__content p {
        font-size: 0.8rem;
        font-weight: 500;
    }
    .hero__content h2,
    .hero__subtitle,
    .hero__content p {
        color: #0b214e;
    }
    .buy__btn {
        background: #0b214e;
    }
    section {
        padding: 30px 0;
    }
    .section__title {
        margin-bottom: 20px !important;
    }
    .quick__links-title {
        margin-bottom: 20px;
    }
}

.accordion {
    display: flex;
    flex-direction: column;
}
