.filter__widget select {
    padding: 8px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
}

.filter__widget select:focus {
    outline: none !important;
}

.filter__widget select option {
    font-size: 0.9rem;
}

.search__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.search__box input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}

.search__box span {
    color: var(--primary-color);
}

.product__card {
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    padding: 10px;
}

@media only screen and (min-width: 991.99px) {
    .product__card:nth-child(4n + 1) {
        border-left: 1px solid #c9c9c9;
    }
}

@media only screen and (max-width: 991.98px) and (min-width: 767.99px) {
    .product__card:nth-child(3n + 1) {
        border-left: 1px solid #c9c9c9;
    }
}

@media only screen and (max-width: 767.98px) and (min-width: 575.99px) {
    .search__box {
        margin-top: 15px;
    }
    .product__card:nth-child(2n + 1) {
        border-left: 1px solid #c9c9c9;
    }
}

@media only screen and (max-width: 575.98px) {
    .filter__widget select {
        width: 100%;
    }
    .filter__widget:nth-child(1) {
        margin-top: 15px;
    }
    .product__card-bottom .price {
        font-size: 1.1rem;
    }
    .product__card:nth-child(2n) {
        border-right: unset;
    }
    .search__box {
        margin-top: 15px;
    }
}
